# Miscellaneous files
/.vscode/
**/.ipynb_checkpoints/
**/__pycache__/
/scripts/Make_and_move_notebooks.ipynb
/scripts/Rename_notebooks_post_course.ipynb
/scripts/demos/enviro.py
/scripts/mk_mv_nbs.py
2014_Book_ThePythonWorkbook.pdf
check_gateway_for_wifi_connection
git_internals_pluralsight.pdf
howto_check_whl
settings.json

# Data files
/data/adam_fracs/
/data/AnneE/
/data/oga-data/
/data/PIL_practise/
/data/simplemaps/
/data/*.csv
/data/*.txt
/data/*.jpg
/data/*.gif
/data/*.pdf
/data/*.mp4
/data/*.xlsx
/data/*.npy
/data/*.png
/data/hack-shell-KL-teams
/data/SH5B_12553_55_PPL_X26_Y23.jpg
/data/SH5B_12553_55_PPL_X26_Y23_cropped.jpg
/data/stitch_test
7K-file.dlis
206_05a-_3_DWL_DWL_WIRE_258276498.DLIS
/data/cat_mask.svg
/data/json_pour_Anne.json
/data/pie_chart.svg
/data/runlog
/data/test_image_mask.bmp
/data/reading_files
/data/plant_catalog.xml
/data/test_encodings_ascii
/data/C-92_1.bed
/data/C-92_1.fra
# Data files exceptions
!/data/range-slider.png

# Scripts
/scripts/minitutos/Image_cropping.ipynb
/scripts/Check_file_ownership_for_system_python_update.ipynb
/scripts/check_file_ownership.py
/scripts/delete_conflicting_files.py
/scripts/Fix_for_FILENAME_exists_in_filesystem.ipynb
/scripts/Runlog.ipynb
/scripts/enviro.py
/scripts/token.pickle
/scripts/token_write.pickle
/scripts/credentials.json
/scripts/credentials.json*
/scripts/demos/Chardet.ipynb
/scripts/demos/Martins_pandas_demo.ipynb
/scripts/Email_Kata_howto.ipynb
/scripts/Weightlog.ipynb
/scripts/aoc/scatterplot_AoC

# Demos
/scripts/demos/HC_*
/scripts/demos/Solve_equation.ipynb
/scripts/demos/fbprophet_demo.ipynb
/scripts/demos/Google_sheets_API_test0.ipynb
/scripts/demos/Google_sheets_API_test1.ipynb
/scripts/demos/quickstart.py
/scripts/demos/Read_NPD_CSV_digidemo.ipynb
/scripts/demos/.vscode/settings.json

# Minitutos
/scripts/minitutos/.ipynb_checkpoints/
/scripts/minitutos/glob.ipynb
/scripts/minitutos/Change_index_of_df.ipynb
/scripts/minitutos/Pillow_images.ipynb
/scripts/minitutos/PD_Well_renaming.ipynb
/scripts/minitutos/PD_Adding_filtered_col_to_DF.ipynb
/scripts/minitutos/PD_add_new_col_w_value_by_well.ipynb
/scripts/minitutos/pwnd_email_checker.py
/scripts/minitutos/Image_stitching.ipynb

# Sandboxes
/scripts/sandboxes/

# Codewars
/scripts/codewars/
