LinAlgFormulas.pdf
/.ipynb_checkpoints/
/data/hack-advice.txt
/data/hack-judg-criteria.jpg
/data/hack-team-advice.jpg
/data/Penobscot_0-1000ms.npy
/notebooks/__pycache__
/notebooks/.ipynb_checkpoints
