# Miscellaneous files
/.ipynb_checkpoints/
/.vscode/
/notebooks/__pycache__/
/notebooks/.ipynb_checkpoints
/notebooks/Make_notebook_list.ipynb

# Data files
/data/adam_fracs/
/data/AnneE/
/data/oga-data/
/data/PIL_practise/
/data/*.csv
/data/*.txt
/data/*.jpg
/data/*.gif
/data/*.pdf
/data/*.mp4
/data/*.xlsx
/data/*.npy
/data/*.png
# Data files exceptions
!/data/range-slider.png

# Notebooks

# Demos
/notebooks/demos/HC_*
/notebooks/demos/Solve_equation.ipynb
/notebooks/demos/Email_from_python.ipynb

# Minitutos
/notebooks/minitutos/glob.ipynb
/notebooks/minitutos/Change_index_of_df.ipynb
/notebooks/minitutos/Pillow_images.ipynb
/notebooks/minitutos/PD_Well_renaming.ipynb
/notebooks/minitutos/PD_Adding_filtered_col_to_DF.ipynb
/notebooks/minitutos/PD_add_new_col_w_value_by_well.ipynb

# Sandboxes
/notebooks/sandboxes/

